body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#name {
    color: #D3573C;
    font-size: 64px;
    margin: 0;
}

#location {
    color: #901C1C;
    font-size: 24px;
    margin: 10px 0px;
}

#tagline {
    font-size: 18px;
    margin: 0;
}

#frame {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    background-image: url("../assets/photographers/TracyGalindo.jpg");
    object-fit: cover;
}

/* #portrait {
    width: 200px;
    height: 200px;
    object-fit: cover;
} */

#grid {
    margin: 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: space-between;
}

#grid img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

#grid video {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.modal {
    position: fixed;
    top: 62px;
    left: 25%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    white-space: pre-line;
    max-width: 60%;
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.lightbox_modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: white;
    display: none;
    align-items: center;
    justify-content: center;
}

.lightbox {
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 10%;
    object-fit: cover;
}

.lightbox button {
    position: fixed;
    cursor: pointer;
    border: none;
    z-index: 999;
}

.lightbox-close {
    background: url(../assets/icons/close_lightbox.svg) center center / 100% 100%;
    top: 6%;
    right: 6%;
    left: auto;
    width: 42px;
    height: 42px;
}

.lightbox-prev, .lightbox-next {
    background: url(../assets/icons/arrow.svg) center center / 100% 100%;
    top: 50%;
    left: 6%;
    width: 30px;
    height: 48px;
}

.lightbox-next {
    right: 6%;
    left: auto;
    transform: rotate(180deg);
}

.lightbox img, .lightbox video {
    max-width: 100%;
    height: auto;
}

