@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 3px;
}

.photographer_section article a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 5px;    
}

.city, .tagline, .price {
    margin: 0;
}

.city {
    font-size: 13px;
    color: #901C1C;
}

.tagline {
    font-size: 10px;
}

.price {
    font-size: 9px;
    color: #757575;
}

.image {
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("/assets/photographers/RhodeDubois.jpg"); */
}

.photographer_section article img {
    height: 358px;
    width: 526px;
    /* object-fit: cover; */
    /* border-radius: 100px; */
    /* object-position: 0 center; */
}
